div{
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    padding-left: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 3px 10px #0000004e;
    margin: 150px 0px 0px -230px;
}
input{
    background-color: transparent !important;
    border: none !important;
}
svg{
    color:#545454;
}